@font-face {
  font-family: Cheltenham_ital;
  src: url('../fonts/cheltenham.ttf');
}

@font-face {
  font-family: Cheltenham_reg;
  src: url('../fonts/Cheltenham_reg.ttf');
}

@font-face {
  font-family: adobe-garamond-pro;
  src: url('../fonts/AGaramondPro-Regular.otf');
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.topsection {
  padding: 20px;
  border-bottom: 1px solid black;
}

.introductionBox {
  width: min(100%, 160px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: calc((100% - min(100%, 160px)) / 2);
  margin-right: auto;
}

.introductionBox .profile {
  height: 120px;
}

.introductionBox .name {
  font-family: 'Cheltenham_reg', serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}

.introductionBox .description {
  font-family: 'adobe-garamond-pro', serif;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.introductionBox .social {
  margin-left: 5px;
  margin-right: 5px;
}

.introductionBox .social a:hover {
  opacity: 0.7;
}

/* Old CSS from here */
.topbar {
  height: 80px;
  background-color: white;
  border-bottom: 1px solid #4A4A4A;
  padding: 12px 0;
  --webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.topbar .left {
  display: inline-block;
  float: left;
}

.topbar .right {
  margin-top: 10px;
  display: inline-block;
  float: right;
}

.topbar .fa-flickr {
  margin-right: 10px;
  color: #55acee;
}

.topbar .fa-github {
  margin-right: 10px;
  color: #666;
}

.topbar .fa-linkedin {
  margin-right: 10px;
  color: #0976b4;
}

.topbar .profile {
  display: block;
  margin: auto;
  width: 740px;
}

.content {
  padding: 0 20px;
  width: 720px;
  margin: 60px auto 60px auto;
}

h1 {
  font-family: 'Cheltenham_ital', serif;
  font-size: 36px;
  color: #4A4A4A;
  margin-bottom: 3px;
  transition: all ease-in 0.3s;
}

h1:hover {
  text-decoration: underline;
}

h2 {
  font-family: 'Cheltenham_ital', serif;
  font-size: 36px;
  color: #4A4A4A;
  margin-bottom: 3px;
}

h3 {
  font-family: 'Cheltenham_reg', serif;
  font-size: 24px;
  font-weight: 900;
  color: rgba(0,0,0,0.8);

}

.post {
  border-bottom: 1px solid #979797;
  padding: 0 20px 30px 20px;
  margin-bottom: 50px;
}

p {
  font-family: 'adobe-garamond-pro', serif;
  font-size: 19.8px;
  line-height: 1.4;
  color: rgba(0,0,0,0.8);

}

.post img {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.post h6 {
  /*caption*/
  text-align: center;
  font-family: 'adobe-garamond-pro', serif;
  color: #808080;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #808080;
}

.date {
  font-family: 'Bookman', serif;
  font-weight: lighter;
  font-size: 18px;
  text-transform: none;
  color: #CCCCCC;
}
