@font-face {
  font-family: Cheltenham_ital;
  src: url('../fonts/cheltenham.ttf');
}

@font-face {
  font-family: Cheltenham_reg;
  src: url('../fonts/Cheltenham_reg.ttf');
}

@font-face {
  font-family: adobe-garamond-pro;
  src: url('../fonts/AGaramondPro-Regular.otf');
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.topsection {
  padding: 20px;
  border-bottom: 1px solid black;
}

.introductionBox {
  width: min(100%, 160px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: calc((100% - min(100%, 160px)) / 2);
  margin-right: auto;
}

.introductionBox .profile {
  height: 120px;
}

.introductionBox .name {
  font-family: 'Cheltenham_reg', serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}

.introductionBox .description {
  font-family: 'adobe-garamond-pro', serif;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.introductionBox .social {
  margin-left: 5px;
  margin-right: 5px;
}

.introductionBox .social a:hover {
  opacity: 0.7;
}

.content {
  width: min(100%, 720px);
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: calc((100% - min(100%, 720px)) / 2);
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.post {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0 20px 30px 20px;
  margin-bottom: 50px;
}

.post img {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.title {
  font-family: 'Cheltenham_ital', serif;
  font-size: 36px;
  margin-bottom: 3px;
  color: black;
  display: block;
}

.date {
  font-family: 'Cheltenham_reg', serif;
  font-weight: lighter;
  font-size: 18px;
  text-transform: none;
  color: #a19d9d;
  display: block;
}

h3 { /* Subheader */
  font-family: 'Cheltenham_reg', serif;
  font-size: 24px;
  font-weight: 900;
}

h6 { /* Caption */
  text-align: center;
  font-family: 'adobe-garamond-pro', serif;
  color: #a19d9d;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #a19d9d;
}

p {
  font-family: 'adobe-garamond-pro', serif;
  font-size: 19.8px;
  line-height: 1.4;
  color: black;
}

.topbar { /* TODO PRANAY: FIX */
  height: 80px;
  border-bottom: 1px solid #4A4A4A;
  padding-top: 12px;
  padding-bottom: 12px;
}

.topbar .profile { /* TODO PRANAY: FIX */
  width: min(100%, 720px);
  margin-left: calc((100% - min(100%, 720px)) / 2);
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.topbar .profile .left { /* TODO PRANAY: FIX */
  display: inline-block;
  float: left;
}

.topbar .profile .right { /* TODO PRANAY: FIX */
  margin-top: 10px;
  display: inline-block;
  float: right;
}
