/*Importing the Lato font from Google fonts.*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

.topsection {
    padding: 20px;
    background-color: #F7F7F7;
}
h1 {
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    background-color: #F7F7F7;
}
p {
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    background-color: white;
}
